.title{
    font-size: 1.7rem;
    font-weight: 700;
}
.p__4{
    padding: 1rem;
}
.mb__6{
    margin-bottom: 3rem;
}
.p__8{
    padding: 2rem;
}
.px__4{
    padding: 1rem 2rem;
}
.margin__bottom{
    margin-bottom: 1rem;
}
.px__2{
    padding: 0.5rem 1rem;
}
.mb__1{
    margin-bottom: 0.5rem;
}
.py__2{
    padding: 0.5rem 1rem;
}
.ml__2{
    margin-left: 0.5rem;
}
.margin{
    margin-top: 1.6rem;
}
.padding{
    padding: 1rem;
}
.mb__custom{
    margin-bottom: 2rem;
}
.mt__6{
    padding: 3rem;
}
