.d-flex{
    display: flex;
}
.nav {
    margin: 0 auto !important;
}
.red-btn{
    background-color: #ff003c;
    font-size: 12px;
    bottom: 20px;
    left: 1.8rem;
    padding: 5px 12px;
    box-shadow: 0 2px 12px #000;
}
.hover-effect{
    transition: ease 260ms;
    -webkit-transition: ease 260ms;
    -moz-transition: ease 260ms;
    -ms-transition: ease 260ms;
    -o-transition: ease 260ms;
}
.hover-effect:hover{
    color: #ff003c;
}
.latest__sub{
    padding: 10px;
   margin-top: 3.6rem;
   line-height: 25px;
   border-top: 4px solid #ff003c;
   box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
}
.arrow::before{
    position: absolute;
    content: '';
    border-left: 8px solid transparent;
	border-right: 8px solid transparent;
    border-bottom: 10px solid #ff003c;
    top: -13px;
    left: 7px;
}