.d-flex{
    display: flex;
}
.nav {
    margin: 0 auto !important;
}
.red-btn{
    background-color: #ff003c;
    font-size: 12px;
    bottom: 20px;
    left: 1.8rem;
    padding: 5px 12px;
    box-shadow: 0 2px 12px #000;
}
.hover-effect{
    transition: ease 260ms;
    -webkit-transition: ease 260ms;
    -moz-transition: ease 260ms;
    -ms-transition: ease 260ms;
    -o-transition: ease 260ms;
}
.hover-effect:hover{
    color: #ff003c;
}